body {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(42,9,121,1) 46%, rgba(223,60,180,1) 100%); 
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}


.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -500px;
  height: -500px;
  line-height: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-size: larger;
  font-stretch:ultra-expanded;
  color: #3e0b5c;
}

.container-letras {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -500px;
  height: -500px;
  line-height: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-weight: 500;
  font-stretch:ultra-expanded;
  color: #dfade4;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  height: 150px;
  width: 200px;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -100rem 100 -100rem 0;
  font-size: 1.7rem;
}


#anterior, #proximo {
  font-size: 5rem;
}

#play-pause {
  font-size: 5rem;
}

#container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}