body {
  background-image: linear-gradient(#080616, #3e0b5c, #e03cb7);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -500px;
  height: -500px;
  line-height: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -0rem 10 -0.5rem 0;
  font-size: 1.7rem;
}


#anterior, #proximo {
  font-size: 5rem;
}

#play-pause {
  font-size: 5rem;
}

#container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}